[MAIN]
load-plugins = pylint.extensions.docparams
ignore=tests, main.py, AppLibrary.py

[MESSAGE CONTROL]

disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        missing-module-docstring,
        redefined-builtin,
        too-few-public-methods

[FORMAT]

[REFACTORING]

[DESIGN]