name: CI
on:
    push:
    pull_request:
        branches: main
    workflow_dispatch:

jobs:
    Test:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            - name: Set up
              uses: ./setup-action
            - name: Run unit tests
              run: poetry run coverage run --branch -m pytest
            - name: Coverage report
              run: poetry run coverage xml
            - name: Upload coverage reports to Codecov
              uses: codecov/codecov-action@v3
              env:
                  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
            - name: Run acceptance tests
              run: poetry run robot src/tests/robot

    Lint:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            - name: Set up
              uses: ./setup-action
            - name: Run pylint
              run: poetry run pylint src

    Format:
        runs-on: ubuntu-latest

        permissions:
            contents: write

        steps:
            - uses: actions/checkout@v4
            - name: Set up
              uses: ./setup-action
            - name: Format code
              run: poetry run black src && poetry run isort --profile black .
            - name: Commit and push changes
              uses: stefanzweifel/git-auto-commit-action@v5
              with:
                  commit_message: Format code
